# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C-extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment (Jika Anda menggunakan venv lokal)
venv/
ENV/
env/
.venv/

# Streamlit local configuration and cache
.streamlit/config.toml
.streamlit/secrets.toml

# Environment variables / API Keys (Keamanan data sensitif)
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db